@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;800&family=Karla:wght@300;400;500&family=Kenia&family=Poppins:wght@200;300;400;500&family=Zen+Dots&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: aliceblue;
}

.guns-card {
  border-radius: 40px;
  background: radial-gradient(
    circle,
    rgba(121, 121, 121, 1) 44%,
    rgba(0, 0, 0, 1) 96%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin: auto;
  padding: 10px;
  margin-bottom: 40px;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-family: poppins;
  transition: transform 0.5s ease;
  overflow: hidden;
  position: relative;
}
.guns-card:hover {
  transform: scale(1.1);
  background: linear-gradient(
    0deg,
    rgba(253, 253, 253, 1) 0%,
    rgba(119, 119, 119, 1) 90%
  );
}

.guns-card:hover .guns-stats {
  transform: translateY(0);
  position: inherit;
}

.weapons > h1 {
  position: relative;
  color: black;
  margin-left: 20px;
  margin-bottom: 30px;
  font-size: 42px;
  font-family: zen dots;
}

.guns-card > h2 {
  font-weight: 600;
  font-size: 32px;
  color: white;
  text-shadow: 2px 2px #b200009c;
  font-family: zen dots;
  margin-bottom: 20px;
}
.guns-card > img {
  height: 60px;
}
.guns-stats {
  color: black;
  font-weight: 400;
  font-size: 18px;
  transition: transform 0.5s ease;
  transform: translateY(100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  transition: transform 0.5s ease;
}
